.job-board {margin-top:10px; border-collapse: collapse; font-size: 0.8em;}
.job-board thead tr th {font-weight: bold;}
.job-board tbody tr td, .job-board thead tr th {padding: 5px 5px; border: 1px solid #aaa; line-height: 1.35em;}
.please-standby {font-weight: bold; margin-top: 10px;}

.footer {margin-top: 10px; line-height: 1em;}
.footer h6 {font-size: 0.75em;}
